@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

@*<header>
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">This account has been locked out, please try again later.</p>
    </header>*@

<style>
    body, html {
        height: 100%;
        margin: 0;
    }

    .bg1 {
        /* The image used */
        background-image: url("/images/flag.jpg");
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bg2 {
        /* The image used */
        background-image: url("/images/mt rush.jpg");
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bg3 {
        /* The image used */
        background-image: url("/images/liberty.jpg");
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bg4 {
        /* The image used */
        background-image: url("/images/sol flag.jpg");
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

@{
    var bg = "";

    Random rand = new Random();
    int x = rand.Next(1, 5);

    if (x == 1)
    {
        bg = "bg1";
    }
    else if (x == 3)
    {
        bg = "bg3";
    }
    else if (x == 4)
    {
        bg = "bg4";
    }
    else
    {
        bg = "bg2";
    }

}


<body class="@bg" style="padding:13%">
    <div class="row well">
        <div class="col-lg-12">
            <section>
                <div class="jumbotron">
                    <h1><strong>Account locked</strong></h1>
                    <h2>Please see system admin to unlock account...</h2>
                </div>
            </section>
        </div>
    </div>
</body>
