@page
@model LoginModel

@{
    ViewData["Title"] = "Sign in";
}

<style>
    body, html {
        height: 100%;
        margin: 0;
    }

    .bg1 {
        /* The image used */
        background-image: url("/images/flag.jpg");                        
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bg2 {
        /* The image used */        
        background-image: url("/images/mt rush.jpg");
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bg3 {
        /* The image used */
        background-image: url("/images/liberty.jpg");
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bg4 {
        /* The image used */
        background-image: url("/images/sol flag.jpg");
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

@{ 
    var bg = "";

    Random rand = new Random();
    int x = rand.Next(1, 5);

    if(x == 1)
    {
        bg = "bg1";
    }
    else if (x == 3)
    {
        bg = "bg3";
    }
    else if (x == 4)
    {
        bg = "bg4";
    }
    else
    {
        bg = "bg2";
    }

}

<body class="@bg" style="padding:13%">
<div class="row">
    <div class="col-md-5 col-md-offset-3">
        <section class="well">
            <form method="post">
                <h3>SIMPL Login</h3>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label>User Name</label>
                    <input asp-for="Input.userName" class="form-control" />
                    <span asp-validation-for="Input.userName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <!--p>
                        <a asp-page="./ForgotPassword">Forgot your password?</a>
                    </p-->
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>
            </form>
        </section>        
    </div>
  
</div>    
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
